{{> common-logo}}
<h2>Deposit Rejected</h2>
<p>Dear {{name}},</p>
<p>Unfortunately, your deposit of {{amount}} could not be processed. Please contact support for further assistance.</p>
{{> common-signature}}
