{{> common-logo}}
<h2>Deposit Request Received</h2>
<p>Dear {{name}},</p>
<p>Your deposit request of {{amount}} has been received. We are processing it, and you will be notified once the funds are available in your account.</p>
{{> common-signature}}
