{{> common-logo}}
<h2>Trade Order Placed</h2>
<p>Dear {{name}},</p>
<p>Your trade order (ID: {{orderID}}) for {{asset}} has been placed successfully. You can monitor its status in your account.</p>
{{> common-signature}}
