{{> common-logo}}
<h2>Support Ticket Submitted</h2>
<p>Dear {{name}},</p>
<p>Your support ticket (ID: {{ticketID}}) has been successfully submitted. Our support team will get back to you shortly.</p>
{{> common-signature}}
