{{> common-logo}}
<h2>Welcome to {{companyName}}, {{name}}!</h2>
<p>Thank you for registering with us. You can now explore our trading platform and make your first deposit.</p>
<p>If you need help getting started, feel free to contact our support team.</p>
{{> common-signature}}
