{{> common-logo}}
<h2>Withdrawal Rejected</h2>
<p>Dear {{name}},</p>
<p>Unfortunately, your withdrawal request of {{amount}} could not be processed. Please contact support for further assistance.</p>
{{> common-signature}}
