{{> common-logo}}
<h2>Withdrawal Confirmed</h2>
<p>Dear {{name}},</p>
<p>Your withdrawal request of {{amount}} has been successfully processed. The funds will be available in your selected account shortly.</p>
{{> common-signature}}
