{{> common-logo}}
<h2>New Deposit Alert</h2>
<p>User <strong>{{name}}</strong> has made a new deposit:</p>
<ul>
  <li><strong>Amount:</strong> {{amount}}</li>
  <li><strong>Deposit Method:</strong> {{method}}</li>
</ul>
<p>Please confirm the deposit.</p>
{{> common-signature}}
