.assets {
  flex: 5;
  background-color: rgba(14, 15, 18, 1);
  color: rgba(255, 255, 255, 1);
  height: 100vh;
}

.asset-list {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  padding: 16px 0;
}

.search {
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(85, 89, 104, 0.35);
  border-radius: 8px;
  background: #1A1D21;
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .8125rem;
  font-weight: 400;
  color: #9CB0C2;
  padding: 0 16px;
}

.table-body {
  height: 60vh;
  overflow-y: auto;
}

.asset-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  justify-content: flex-start;
}

.asset-active {
  background-color: #5E69784D;
}

.asset-item:hover {
  background-color: rgba(94, 105, 120, 0.22);
  cursor: pointer;
}

.flag {
  width: 20%;
}

.flag img, .flag > i {
  width: 20px;
  height: 20px;
}

.name-price {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.name-price .name {
  font-size: 1rem;
  line-height: 1.5rem;
}

.name-price .price {
  font-size: .8125rem;
  line-height: 1.25rem;
  color: #9CB0C2;
}

.change {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.change span {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.change .info {
  background-color: #9CB0C2;
  color: rgba(14, 15, 18, 1);
  border: 1px solid #9CB0C2;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.is-loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
}

@media (max-width: 768px) {
  .assets {
    flex: 1;
    height: calc(100vh - 120px);
  }

  .assets .icons {
    display: none;
  }

  .assets .back {
    display: flex;
  }
}
