body {
  overflow-x: hidden;
}

.landing {
  height: 100vh;
  width: 100vw;
}

.landing .title {
  width: 400px;
  padding: 0;
}

.landing .title h3 {
  font-size: 3.5rem;
  color: #FFFFFF;
}

.landing .title h5 {
  font-size: 1.75rem;
  color: #9cb0c2;
}

.landing > .main-content {
  height: 100vh;
}

.landing .home {
  height: 100%;
  display: flex;
  justify-content: center;
}

.landing .home .image {
  display: flex;
  background-image: url("/assets/images/auth-bg.png");
  background-size: cover;
  height: 100vh;
  width: 60%;
  position: relative;
}

.landing .home .image .logo-wrap {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 5;
}

.landing .home .image .logo-wrap .logo {
  height: 70px;
  max-width: 100%;
  border: none;
  vertical-align: middle;
}

.landing .home .image .logo-wrap h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  margin-top: 76px;
  line-height: 1.5;
  text-transform: uppercase;
}

.landing .home .image .logo-wrap p {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-top: 76px;
  line-height: 1.5;
}

.landing .home .image .astronaut {
  width: 430px;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  bottom: 20%;
  margin: auto;
  z-index: 3;
}

.landing .home .content {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: 2rem;
}

.landing .home .content .logo {
  height: 50px;
}

.landing .home .content .form-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.landing .home .content .form-box .title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: #0d0f3b;
  text-align: center;
}

.landing .home .content .form-box .tabs {
  display: flex;
  padding-bottom: 0.1rem;
  border-bottom: 0.0625rem solid #e3eafa;
}

.landing .home .content .form-box .tabs .tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.landing .home .content .form-box .tabs .tab span {
  cursor: pointer;
  display: block;
}

.landing .home .content .form-box .tabs .tab .active-block {
  width: 20px;
  max-width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #16b7ad;
}

.landing .home .content .form-box .auth-link {
  font-size: 14px;
  text-decoration: none;
  color: #00091f;
}

.landing .home .content .form-box .input-group {
  line-height: 40px;
}

.landing .home .content .form-box .input-group label {
  color: #243459;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.landing .home .content .form-box .input-group label span {
  color: red;
}

.landing .home .content .form-box .input-group .input {
  background-color: transparent;
  background-image: none;
  border-radius: 12px;
  border: 1px solid #e3eafa;
  box-sizing: border-box;
  color: #00091f;
  display: inline-block;
  font-size: inherit;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.landing .home .content .form-box button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background-color: #0d0f3b;
  border: 1px solid #0d0f3b;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 12px 23px;
  font-size: 14px;
  border-radius: 20px;
}

@media (max-width: 768px) {
  body {
    background-image: url("/assets/images/auth-bg.png");
    height: 100vh;
  }
  .landing {
    background-size: cover;
    padding: 0 1rem;
  }

  .landing .navbar {
    height: 10vh;
  }

  .landing .navbar img.logo {
    width: 100px;
    height: auto;
  }

  .landing > .main-content {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .landing .home .image {
    display: none;
  }

  .landing .home .content {
    background-color: #FFFFFF;
    flex: 1;
    border-radius: 15px;
    padding: 0 2rem;
    max-width: 80%;
  }
}
